html, body{
	background-color: #101010;
}
footer{
    color: #666666;
}
/*==========================================
PRE LOADER
==========================================*/

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	background-image: url(../img/logo1.png);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

.loaded {
	position: absolute;
	left: 50%;
	margin-left: -125px;
	top: 50%;
	margin-top: -125px;
}
.loaded {
	border: 16px solid transparent;
	border-radius: 50%;
	border-top-color: #101010;
	width: 250px;
	height: 250px;
	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
.loaded:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #df1d28;
	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
.loaded:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
/*==========================================
FIN PRE LOADER
==========================================*/
/*==========================================
FONT
==========================================*/
.pacifico{
	font-family: 'Pacifico', cursive !important;
}
.indie-flower{
	font-family: 'Indie Flower', cursive;
}
/*==========================================
FIN FONT
==========================================*/
.bg-red{
	background-color: #DF1D28;
	background: -webkit-linear-gradient(left,#A71726, #DF1D28, #A71726); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left,#A71726, #DF1D28, #A71726); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left,#A71726, #DF1D28, #A71726); /* For Firefox 3.6 to 15 */
	background: linear-gradient(left,#A71726, #DF1D28, #A71726); /* Standard syntax */
}

input:focus, select:focus{
	border-color: #DF1D2880 !important;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(223, 29, 40, 0.6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(223, 29, 40,.6) !important;
}
.input-circle{
	border-radius:50%;
}
.input-circle-left{
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
.input-circle-right{
	border-top-right-radius: 15% !important;
	border-bottom-right-radius: 15% !important;
}
.text-white{
	color: #ffebc2 !important;
}
.text-white a{
	color: #ffebc2 !important;
}
.m-t-0{margin-top: 0%;}
.m-b-0{margin-bottom: 0%;}
.m-l-0{margin-left: 0%;}
.m-r-0{margin-right: 0%;}
.m-t-5{margin-top: 5px;}
.m-b-5{margin-bottom: 5px;}
.m-l-5{margin-left: 5px;}
.m-r-5{margin-right: 5px;}
.p-t-0{padding-top: 0%;}
.p-b-0{padding-bottom: 0%;}
.p-l-0{padding-left: 0%;}
.p-r-0{padding-right: 0%;}
.p-t-5{padding-top: 5px;}
.p-b-5{padding-bottom: 5px;}
.p-l-5{padding-left: 5px;}
.p-r-5{padding-right: 5px;}
.p-t-20{padding-top: 20px;}
.p-b-20{padding-bottom: 20px;}
.p-l-20{padding-left: 20px;}
.p-r-20{padding-right: 20px;}
.shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

#body{
	background-image: url("../img/papyrus-texture.jpg");
	background-size: 100% 200%;
	background-attachment: fixed;
	border-bottom-left-radius: 50% 5%;
	border-bottom-right-radius: 50% 5%;
	border-bottom: solid #DF1D28 25px;
	padding-bottom: 5%;
}
/*==========================================
MENU CUSTOMIZE
==========================================*/
.dropdown > a:hover{
	background-image: url("../img/arrows.svg");
	background-repeat: no-repeat;
	background-position: center bottom;
    background-size: 1em;
}
.dropdown:hover .dropdown-menu{
	display : block;
}
.dropdown-menu{
	background-color: #333333;
	width: 100%;
	padding-right: 20px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown-menu h3{
	text-align: left;
	font-size: 150%;
	padding: 0px;
	margin: 0px;
	color: #e3e3e3!important;
}
.dropdown{
	position: static !important;
}
.dropdown hr{
	margin: 0;
	margin-right: -15px;
}
.dropdown-menu li{
	list-style: none;
}
.dropdown-menu ul{
	padding-left: 0px;
}
.dropdown-menu a{
	color: #e3e3e3!important;
}
.dropdown-menu img{
    width: 75px;
    margin: auto;
}
.dropdown-header:hover .dropdown-ul{
	display : block;
}
.dropdown-ul{
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}
.more a{
	color: #ffc93e !important;
}
.navbar-nav{
	position: relative;
}
.navbar{
	border-color: transparent;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*==========================================
FIN MENU CUSTOMIZE
==========================================*/

.affix {
	top: 0;
	width: 100%;
	z-index: 9999 !important;
}
.affix + .container-fluid {
	padding-top: 70px;
}
/*==========================================
LOGO
==========================================*/
.navbar-brand{
	position: relative;
	top:-45px;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}
.affix .navbar-brand {
	top : -15px;
	left: 15px;
}
.affix .navbar-brand > img{
	width: 60px;
}
.navbar-brand > img {
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
	width: 125px;
}
.navbar-brand > img:hover{
    cursor: pointer;
	-webkit-transform:scale(0.9);
	-moz-transform:scale(0.9);
	-ms-transform:scale(0.9);
	-o-transform:scale(0.9);
	transform:scale(0.9);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.8) !important;
}
.affix .navbar-brand > img:hover{
	width: 60px;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5) !important;
}
/*==========================================
FIN LOGO
==========================================*/
.jumbotron{
	background-color: #fff;
	background-image: url(../img/logo1.png);
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.jumbotron > * {
	z-index: 2;
	position:relative;
}
.jumbotron > .carousel{
	position:absolute;
	top : -50%;
	left: 0px;
	z-index: 1;
}
.jumbotron h1{
    background-color: rgba(0,0,0,0.5);
    background: -webkit-linear-gradient(left,transparent, rgba(0,0,0,0.1),rgba(0,0,0,0.5),rgba(0,0,0,0.1), transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,transparent, rgba(0,0,0,0.1),rgba(0,0,0,0.5),rgba(0,0,0,0.1), transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,transparent, rgba(0,0,0,0.1),rgba(0,0,0,0.5),rgba(0,0,0,0.1), transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left,transparent, rgba(0,0,0,0.1),rgba(0,0,0,0.5),rgba(0,0,0,0.1), transparent); /* Standard syntax */
}
.jumbotron select::-ms-expand {
    display: none; /* remove default arrow on ie10 and ie11 */
}
.jumbotron select {
    padding: 5px 35px 5px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/arrows.svg) 97.5% / 1em no-repeat #fff;
}

/* MENU RAPIDE	*/
.menu-rapide{
	position: fixed;
	top: 50%;
    margin-top: -175px;
	right: -80px;
	z-index: 99998;
    font-size: 25px;
	background-color: #A71726;
	padding-right: 15px;
    padding-left: 5px;
	color: #ffebc2;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
}
.menu-rapide .btn{
	border-radius: 50% !important;
    font-size: 1.25em !important;
	margin-bottom: 10px;
	margin-top: 10px;
	background: rgba(255, 235, 194,0.1);
	-webkit-transition: background 0.5s, color 0.2s;
	-moz-transition: background 0.5s, color 0.2s;
	transition: background 0.5s, color 0.2s;
	cursor: pointer;
}
.menu-rapide .btn:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.menu-rapide .btn:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #ffebc2;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

.menu-rapide:hover{
	right:0%;
	background-color: rgba(167,23,38,0.75);
	transition: 0.3s;
}
.menu-rapide .btn:hover {
	background: rgba(255, 235, 194,1);
}
.menu-rapide .btn:hover .fa{
	color: #A71726;
}
.menu-rapide .btn:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
/* FIN MENU RAPIDE	*/

.main-article .text-white{
	background-color: #DA2235;
}
h2.indie-flower{
    border-left: solid #A71726 3px;
    padding-left: 10px;
	text-transform: uppercase;
}
/* VIGNETTE SLIDER	*/
ul.thumbnails {
	margin-bottom: 0px;
}
/* FIN VIGNETTE SLIDER	*/

/* PETITES ANNONCES	*/

.petites-annonces{
	text-align: center;
	opacity: 1;
}

.btn-rechercher-annonces{
	width: 65%;
}

.btn-deposer-annonces{
	width: 65%;
    border: 1px solid #31708f;
    outline: none;
    text-align: center;
    font-family: "Helvetica", Arial;
	background-color: #31708f;
}

.btn-voir-annonces{
	width: 65%;
    border: 1px solid #31708f;
	color: #31708f;
    outline: none;
    text-align: center;
    font-family: "Helvetica", Arial;
	background-color: #fff;
}

.wrapper {
  width: 300px;
  height: 500px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
  width: 100%;
  height: 100%;
}
.wrapper .container .top {
  height: 80%;
  width: 100%;
  background: url("../img/seza.jpg") no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .container .bottom {
  width: 200%;
  height: 20%;
  transition: transform 0.5s;
}
.wrapper .container .bottom.clicked {
  transform: translateX(-50%);
}
.wrapper .container .bottom h1 {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom .left {
  height: 100%;
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
}
.wrapper .container .bottom .left .details {
  padding: 20px;
  float: left;
  width: calc(70% - 40px);
}
.wrapper .container .bottom .left .buy {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .container .bottom .left .buy i {
  font-size: 30px;
  padding: 30px;
  color: #254053;
  transition: transform 0.5s;
}
.wrapper .container .bottom .left .buy:hover {
  background: #a6cdde;
}
.wrapper .container .bottom .left .buy:hover i {
  transform: translateY(5px);
  color: #00394b;
}
.wrapper .container .bottom .right {
  width: 50%;
  background: #a6cdde;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.wrapper .container .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}
.wrapper .container .bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}
.wrapper .container .bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: #bc3b59;
  transition: transform 0.5s, background 0.5s;
}
.wrapper .container .bottom .right .remove:hover {
  background: #9b2847;
}
.wrapper .container .bottom .right .remove:hover i {
  transform: translateY(5px);
}
.wrapper .container .bottom .right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right:hover .remove, .wrapper .container .bottom .right:hover .done {
  transform: translateY(-100%);
}
.wrapper .inside {
  z-index: 9;
  background: #31708f;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}
.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
  color: #fff;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
  color: white;
}
.wrapper .inside .contents p {
  font-size: 13px;
}

.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width: 70px;
	height: 120px;
	text-indent: -9999px;
	background: url(../img/img-sprite.png)no-repeat;
	top: 27%;
	z-index: 2;
	cursor: pointer;
}
.wmuSliderPrev {
	background-position: -25px -20px;
	left: 35px;
}
.wmuSliderNext {
	background-position: -100px -20px;
	right: 10px;
	
}

/* FIN PETITES ANNONCES	*/

/* GUIDE EVENEMENTIEL	*/

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(100%);
}
.card__image {
  filter: contrast(70%);
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

/* FIN GUIDE EVENEMENTIEL	*/

@media screen and (max-width: 900px){
    .navbar-nav li{
        text-align: center;
    }
    .navbar-brand {
        top: -30px;
    }
    .navbar-brand img{
        width: 90px;
    }
}
