/*DETAIL ARTICLE*/

.titre-article {
    margin-top: 30px;
    color: #001936;
}

h2, h6 {
    font-weight: 700;
}

.contenu {
    margin: 2.5em 0 0;
}

.contenu p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 1.5em;
}

.contenu p:first-of-type {
    color: #001936;
    border-bottom: 1px dotted #bababa;
    padding-bottom: 20px;
}

.contenu > p:first-child::first-letter {
    float: left;
    font-size: 86px;
    line-height: 75px;
    text-align: left;
    padding-right: 15px;
    display: inline-block;
}

.contenus-article {
    padding: 12px;
}
.auteur-description {
    border: 1px solid #ebebeb;
    display: flex;
    margin: 2.5em 0;
    border-radius: 5px;
    background-color: #a94442;
}

.auteur-description .avatar {
    width: 20%;
    margin: auto;
}

.auteur-description .avatar img {
    border-radius: 150px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.auteur-description .description {
    width: 80%;
    color: #FFF;
}

.auteur-description .description h6 {
    font-size: 1.25em;
}

.auteur-description .description h6 a {
    color: #FFF;
    line-height: 26px;
    text-decoration: none;
}

.auteur-description .description h6 a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.related-post {
    margin-top: 40px;
    margin-bottom: 50px;
}

.related-post-title > h3 {
    padding: 2px 0;
    border-left: 5px solid #1da76e;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.related-post-title > h3 > span {
    padding-left: .75em;
    color: #134a34;
    font-weight: 900;
}


/*FIN DETAIL ARTICLE*/

/*SIDEBAR*/
.article-sidebar {
    margin: 0 0 30px;
    padding: 0 10px 10px 10px;
    background: #FFF;
}

.article-sidebar h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #134a34;
    padding: 18px 0px;
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
    position: relative;
}

.article-sidebar > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    color: #001936;
}


/* Search */
.recherche-sidebar {
    background-color: #72caa6;
    padding-bottom: 26px;
}

.recherche-sidebar h3 {
    color: #FFF;
    font-weight: 700;
}

.search-field {
    padding: .5em;
    font-size: 1.2em;
    border: none;
    background-color: #19a06a;
    color: #FFF;
    vertical-align: middle;
    width: 80%;
}

::placeholder {
    color: #FFF;
    font-weight: 400;
}

.search-btn {
    background-color: #fff;
    padding: .5em;
    border: none;
    font-size: 1.2em;
    font-weight: 700;
    color: #30c388;
    vertical-align: middle;
    transition: all 0.4s;
}

.search-btn:hover {
    background-color: #ffffffb8;
}
/* FIN Search */
/* Categorie */

.categorie-sidebar > ul > li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #e1e1e1;
}

.categorie-sidebar > ul > li a {
    color: #134a34;
    font-weight: 700;
    line-height: 1.75em;
    text-decoration: none;
}

.categorie-sidebar > ul > li a:hover {
    color: #19a06a;
}

.categorie-sidebar > ul > li > span {
    float: right;
    color: #1da76e;
    font-size: 15px;
}

.categorie-sidebar > ul > li:last-of-type {
    border-bottom: none;
}

/* Fin Categorie */

/* Tags */

.list-tags li {
    display: inline-block;
    margin: 0 9px 9px 0;
}

.list-tags > li {
    border-bottom: none;
}

.list-tags a {
    display: block;
    padding: 0 9px;
    font-size: 14px;
    line-height: 31px;
    background-color:  #ddedcc;
    font-weight: 700;
    text-transform: uppercase;
    color: #417357;
    transition: all 0.4s;
    text-decoration: none;
}

.list-tags a:hover {
    background-color: #00834e;
    color: #FFF;
}

/* FIN Tags */

/* CALENDAR */
/*.ui-datepicker-header {
    background-color: #1da76e;
}*/
#calendar {
    padding-bottom: 0px;
}

.ui-datepicker-calendar tbody td:hover {
    background: #fff; 
    color:  #1da76e;
}

.ui-datepicker-calendar tbody td:hover a {
    color: #1da76e;
}

.ui-state-default {
    color: #FFF;
}

.ui-datepicker-calendar, #calendar {
    background: #1da76e;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-datepicker-title {
    padding-bottom: 15px;
    /*color: #FFF;*/
}

.calendar-container table {
    width: 70%;
}

.ui-datepicker-calendar {
    margin-left: 15%;
    margin-right: 15%;
}

.ui-datepicker-calendar thead {
    color: #FFF;
}

.ui-datepicker-current-day {
    border: solid 2px #FFF;
    background-color: #FFF;
    color: #1da76e;
}

.ui-datepicker-current-day a {
    color: #1da76e;
}
/*Fin CALENDAR*/