#body {
    background-color: #d1e8b8b0;
    background-image: none;
}

.calendar td {
    height: 2em;
    line-height: 2em;
    width: 2em;
}

.calendar thead {
    text-transform: none;
}

.calendar h2 {
    font-size: 1.5em;
}
