html, body{
	height: 100%;
}
.categorie > .row > div.col-sm-12{
	padding: 0;
}
.categorie .list-inline{
	margin: auto;
}
.categorie .categorie-panel{
	max-width: 440px;
	vertical-align: top;
	cursor:pointer;
	border: none;
	border-radius: 0;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 4px 2px;
	padding: 0;
	position: relative;
}
.categorie .categorie-panel > .categorie-background{
	position: relative;
	display: block;
}
.categorie .categorie-panel[aria-expanded='true'] > .categorie-background{
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.categorie .categorie-panel .bg-img-2{
	position : absolute;
	top:0;
	left: 0;
	opacity:0;
	width: 100%;
	margin: auto;
}
.categorie .categorie-panel .categorie-background h3{
	position : absolute;
	bottom: 0;
	right: 0.5em;
	margin: auto;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;;
}
.categorie .categorie-panel:hover .bg-img-2, .categorie .categorie-panel:focus .bg-img-2, .categorie .categorie-panel[aria-expanded='true'] .bg-img-2{
	opacity:1;
}
.categorie .categorie-panel:after{
	content : '';
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 0px solid #fff0dc;
	position: absolute;
	bottom: calc(100% - 250px);
	left:50%;
	margin-left: -10px ;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.categorie .categorie-panel[aria-expanded='true'] .categorie-background h3{
	opacity: 0;
}
.categorie .categorie-panel[aria-expanded='true']:after{
	border-bottom: 20px solid #fff0dc; /*Fleche*/
}
.categorie .categorie-panel[aria-expanded='true']{
	height: auto;
	padding-bottom: calc(300px + 15px); /*300px (en fonction de la taille de .categorie-detail + 20px d'espace)*/
}
.categorie .categorie-detail{
	background: #fff0dc;
	width: calc(445px * 3);
	height: 300px;
	margin-top: 10px;
	text-align: left;
	overflow: hidden;
	position: absolute;
	left: 0;
	padding: 20px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.categorie .categorie-detail ul.list-unstyled{
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-column-width: calc((((445px * 3) - 40px)*1)/6); /* Chrome, Safari, Opera */
	-moz-column-width: calc((((445px * 3) - 40px)*1)/6); /* Firefox */
	column-width: calc((((445px * 3) - 40px)*1)/6);
}
.categorie .categorie-detail ul.list-unstyled li{
	border-bottom: solid #ddd 0.5px;
	padding: 5px;
	margin: auto;
	color: #333;
	font-weight: 300;
	font-family: "Oswald";
}