.annonces{
	padding-left: 30px;
}
.annonces .filtre{
	background-color: rgba(255,255,255,0.8);
	border-radius: 2px;
}
/* Custom checkbox filtre*/
.annonces .filtre .collapse > .checkbox, .annonces .filtre .collapsing > .checkbox{
	margin-top: 0;
}
.annonces a[data-toggle='collapse']{
	color : #1eac72;
}
.annonces input[type="checkbox"]{
	opacity : 0;
}
.annonces .checkbox label{
	margin-left: 0.5em;
}
.annonces .checkbox-custom{
	position: absolute;
	left: 0;
	top: 0;
	border:solid 2px #555;
	border-radius: 1px;
	height: 1.25em;
	width: 1.25em;
	-webkit-transition: all 100ms;
	-moz-transition: all 100ms;
	-ms-transition: all 100ms;
	-o-transition: all 100ms;
	transition: all 100ms;
}
.annonces .checkbox:hover .checkbox-custom{
	/*background-color: #555;*/
}
.annonces .checkbox input:checked ~ .checkbox-custom{
	border-color: #31708f;
	border-top-color: transparent;
	border-left-color: transparent;
	-ms-transform: translate(100%) rotate(40deg); /* IE 9 */
	-webkit-transform: translate(100%) rotate(40deg); /* Safari */
	transform: translate(100%) rotate(40deg);
	width: 0.5em;
}
.annonces .checkbox:hover input:checked ~ .checkbox-custom{
	background-color: transparent;
}
/* Fin custom checkbox filtre*/
.annonces .tab{
	z-index: 1;
}
.annonces .tab.is_stuck ul li a{
	background-color: rgba(255, 255, 255, .9) !important;
}
.annonces .nav>li>a{
	color: #555;
	border-radius: 2px;
	font-weight: bold;
	font-size: 1.15em;
	background-color: transparent;
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-ms-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
	position: relative;
	z-index: 1;
}
.annonces .nav>li>a:focus, .annonces .nav>li>a:hover {
	text-decoration: none;
	color: #1eac72;
}
.annonces .nav-pills>li.active>a, .annonces .nav-pills>li.active>a:focus, .annonces .nav-pills>li.active>a:hover {
	color: #fff;
	background-color: transparent;
}
.annonces .nav-pills>li.active>a:after, .annonces .nav-pills>li.active>a:focus:after, .annonces .nav-pills>li.active>a:hover:after {
	background-color: #1eac72;
	height: 100%;
	width: calc(100% - 2 * 10%);
}
.annonces .nav>li>a:after{
	content: '';
	background-color: #cccccc;
	width: calc(100% - 2 * 20%);
	height: 3px;
	position: absolute;
	bottom: 0;
	left:50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: -1;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-ms-transition: height 0.5s;
	-o-transition: height 0.5s;
	transition: width 0.2s, height 0.2s linear 0.2s;
}
.annonces .nav>li>a:focus:after, .annonces .nav>li>a:hover:after {
	text-decoration: none;
	background-color: #1eac72;
}

/*Element annonce */
.annonces .media-object{
	width: 10em;
}
.annonces .annonce{
	border-radius: 3px;
	background-color: #fff;
	min-height:  500px;
	padding: 5px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) ;
	-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) ;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	overflow: visible;
}
.annonces .annonce .prix{
	color: #e1a919;
	font-weight: 600;
	font-size: 1.25em;
}

.annonce:before{
	width: 150px;
	font-size: 0.75em;
	position: absolute;
	top: 15px;
	left: -45px;
	text-align: center;
	line-height: 1.5em;
	letter-spacing: 1px;
	color: #f0f0f0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}
/*Fin element annonce */
/*Bouton déposer annonce */
.fab-button{
	border-radius: 50% !important;
	display: inline-block;
	position: fixed;
	right:20px;
	bottom: 20px;
	z-index: 999;
	height: 4em;
	width: 4em;
	background-color: #1eac72;
	color: white;
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.5) !important;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.5) !important;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5) !important;
}
.fab-button span{
	height: 1.25em;
}
.fab-button.focus, .fab-button:focus, .fab-button:hover {
	color: white;
	background-color: #1eac72;
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.8) !important;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.8) !important;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.8) !important;
}
/* Annonces détails*/
.annonces .annonce a.link-ruban,.annonces .annonce a.zoom{
	background-color: transparent;
	border: none;
	box-shadow: none;
	padding-right: 50px;
	color: #fff;
	text-decoration: underline;
}
.annonces .annonce span.ruban{
	color: #ffffff;
	text-align: center;
	font-size: 2em;
	width: 40px;
	height: 50px;
	background: #1fd28d;
	top: -5px;
	left: 25px;
	position: absolute;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-ms-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
	padding: 5px 0;
}
.annonces .annonce span.ruban.etablissement{
	background-color: #ffffff;
	color: #1fd28d;
}
.annonces .annonce span.ruban:hover{
	height: 55px;
}
.annonces .annonce span.ruban:before{
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border-bottom: 5px solid #158e60;
	border-right: 5px solid transparent;
	right: -5px;
	top:0;
}
.annonces .annonce span.ruban.etablissement:before{
	border-bottom-color: #8c8c8c;
}
.annonces .annonce span.ruban:after{
	height: 0;
	width: 0;
	border-left: 20px solid #1fd28d;
	border-right: 20px solid #1fd28d;
	border-bottom: 10px solid transparent;
	bottom: -10px;
	left:0;
	content: "";
	position: absolute;
}
.annonces .annonce span.ruban.etablissement:after{
	border-left-color: #ffffff;
	border-right-color: #ffffff;
}
@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}
.annonces .annonce .zoom + .modal .modal-content {
	margin: auto;
	display: block;
	width: 100%;
	max-width: 700px;
	animation-name: zoom;
	animation-duration: 0.6s;
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.annonces .annonce .zoom + .modal .close {
	position: absolute;
	top: 15px;
	right: 0;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.annonces .annonce .zoom + .modal .close:hover,
.annonces .annonce .zoom + .modal .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
.photo-medicament{
	width: 100%;
	height: 100%;
}
/* Fin Annonces détails*/

.content {
	position: relative;
	animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
	width: 95%;
	padding-bottom: 35px;
  }
  
  .card {
	width: 100%;
	min-height: 100px;
	height: 170px;
	padding: 20px;
	border-radius: 3px;
	background-color: white;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	transition: all 1s cubic-bezier(0.425, 1.04, 0.47, 1.105);
  }
  .card:after {
	content: '';
	display: block;
	width: 190px;
	height: 300px;
	background: lavender;
	position: absolute;
	animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
	transition: all 1s cubic-bezier(0.425, 1.04, 0.47, 1.105);
	}
	
  .card:hover:after {
		width: 190px;
		height: 350px;
		transition: all 1s cubic-bezier(0.425, 1.04, 0.47, 1.105);
	}
	.card:hover {
		height: 220px;
		transition: all 1s cubic-bezier(0.425, 1.04, 0.47, 1.105);
	}
	.card:hover .profileinfo p.bio,	.card:hover .profileinfo a{
		opacity: 1;
	  }
	.card:hover .profileinfo{
		z-index: 100;
  	}
  .badgescard {
	padding: 10px 20px;
	border-radius: 3px;
	background-color: #ECECEC;
	width: 480px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	position: absolute;
	z-index: -1;
	left: 10px;
	bottom: 10px;
	animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
  }
  .badgescard span {
	font-size: 1.6em;
	margin: 0px 6px;
	opacity: 0.6;
  }
  
  .firstinfo {
	flex-direction: row;
	z-index: 2;
	position: relative;
  }
  .firstinfo img {
	border-radius: 50%;
	width: 120px;
	height: 120px;
  }
  .firstinfo .profileinfo {
	padding: 0px 20px;
  }
  .firstinfo .profileinfo h1 {
	font-size: 1.8em;
  }
  .firstinfo .profileinfo h3 {
	font-size: 1.2em;
	color: #1eac72;
	font-style: italic;
  }
  .firstinfo .profileinfo p.bio {
	padding: 10px 0px;
	color: #5A5A5A;
	line-height: 1.2;
	font-style: initial;
	transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	opacity: 0;
	}
	.profileinfo a{
		color: #75D13B;
		margin-bottom: 10px;
		float: right;
		opacity: 0;
	}
	.profileinfo a:after {
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		content: ">>";
		font-family: FontAwesome;
		margin-left: -10px;
		opacity: 0;
		vertical-align: middle;
	}
	.profileinfo a:hover:after {
		margin-left: 5px;
		opacity: 1;
		color: #75D13B;
	}
	.page-medicament{
		margin: auto;
		width: 40%;
	}
  @keyframes animatop {
	0% {
	  opacity: 0;
	  bottom: -500px;
	}
	100% {
	  opacity: 1;
	  bottom: 0px;
	}
  }
  @keyframes animainfos {
	0% {
	  bottom: 10px;
	}
	100% {
	  bottom: -42px;
	}
  }
  @keyframes rotatemagic {
	0% {
	  opacity: 0;
	  transform: rotate(0deg);
	  top: -24px;
	  left: -253px;
	}
	100% {
	  transform: rotate(-30deg);
	  top: -24px;
	  left: -78px;
	}
  }