html, body{
	background-color: #fafafa;
	color: #555;
	font-family: 'Poppins', sans-serif;
}
/*==========================================
PRE LOADER
==========================================*/

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	background-image: url(../img/logo1.png);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

.loaded {
	position: absolute;
	left: 50%;
	margin-left: -125px;
	top: 50%;
	margin-top: -125px;
	border: 16px solid transparent;
	border-radius: 50%;
	border-top-color: #101010;
	width: 250px;
	height: 250px;
	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
.loaded:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #1fd28d;
	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
.loaded:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
/*==========================================
FIN PRE LOADER
==========================================*/
/*==========================================
FONT
==========================================*/
.pacifico{
	font-family: 'Pacifico', cursive;
}
.indie-flower{
	font-family: 'Indie Flower', cursive;
}
.oswald{
	font-family: 'Oswald', cursive;
}
.petit-formal-script{
	 font-family: 'Petit Formal Script', cursive;
 }
/*==========================================
FIN FONT
==========================================*/
.bg-green{
	background-color: #1DA76E;
}

input:focus, select:focus{
	border-color: rgba(29, 167, 110, 0.5) !important;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(29, 167, 110, 0.6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(29, 167, 110,.6) !important;
}

select::-ms-expand {
	display: none !important; /* remove default arrow on ie10 and ie11 */
}
select {
	padding: 5px 35px 5px 5px !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	background: url(../img/arrows1.svg) 97.5% / 1em no-repeat #fff !important;
}
.form-control{
	border: 0px !important;
}
/* SCROLLBAR CUSTOMIZE */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* FIN SCROLLBAR CUSTOMIZE */
.circle{
	border-radius:50%;
	padding: 0.5em;
	display: inline-block;
}
.input-circle-left{
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
.input-circle-right{
	border-top-right-radius: 15% !important;
	border-bottom-right-radius: 15% !important;
}
.text-white, a.text-white, .text-white a{
	color: #ffebc2 !important;
}
.text-green, a.text-green{
	color: #1BBE81 !important;
}
.m-auto{margin: auto !important;}
.m-0{margin: 0 !important;}
.m-5{margin: 5px !important;}
.m-20{margin: 20px !important;}
.m-t-0{margin-top: 0 !important;}
.m-b-0{margin-bottom: 0 !important;}
.m-l-0{margin-left: 0 !important;}
.m-r-0{margin-right: 0 !important;}
.m-t-5{margin-top: 5px !important;}
.m-b-5{margin-bottom: 5px !important;}
.m-l-5{margin-left: 5px !important;}
.m-r-5{margin-right: 5px !important;}
.m-t-20{margin-top: 20px !important;}
.m-b-20{margin-bottom: 20px !important;}
.m-l-20{margin-left: 20px !important;}
.m-r-20{margin-right: 20px !important;}
.p-0{padding: 0 !important;}
.p-t-0{padding-top: 0 !important;}
.p-b-0{padding-bottom: 0 !important;}
.p-l-0{padding-left: 0 !important;}
.p-r-0{padding-right: 0 !important;}
.p-5{padding: 5px !important;}
.p-t-5{padding-top: 5px !important;}
.p-b-5{padding-bottom: 5px !important;}
.p-l-5{padding-left: 5px !important;}
.p-r-5{padding-right: 5px !important;}
.p-20{padding: 20px !important;}
.p-t-20{padding-top: 20px !important;}
.p-b-20{padding-bottom: 20px !important;}
.p-l-20{padding-left: 20px !important;}
.p-r-20{padding-right: 20px !important;}
.shadow{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}
.text-shadow{
	text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.19) !important;
}
/* Pagination */
.pager li a{
	border: none;
	border-radius: 2px;
	background-color: transparent;
}
.pager li a:focus{
	box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);
	transform: scale(1.01);
}
.pagination{
	display: inherit;
}
.pagination>li{
	margin: 0 5px;
}
.pagination>li>a, .pagination>li>span, .pagination>li>i{
	position: static;
	float: inherit;
	color : #555;
	background-color: transparent;
	border-color: transparent;
	border-radius: 50%;
	font-weight: 600;
}
.pagination>li.prev>a, .pagination>li.prev>i, .pagination>li.next>a, .pagination>li.next>i{
	border-radius: 0;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	color : #555;
	background-color: rgba(31, 210, 141, 0.15);
	border-color: transparent;
	font-weight: 600;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	 z-index: 3;
	color: #555555;
	 background-color: transparent;
	 border: solid 2px #1fd28d;
 }
/* Fin Pagination */
#body{
	background-color: #f7e8cb;
	background-image: url("../img/papyrus-texture.jpg");
	background-size: 100% 200%;
	background-attachment: fixed;
	border-bottom-left-radius: 50% 5%;
	border-bottom-right-radius: 50% 5%;
	border-bottom: solid #1fd28d 25px;
	padding-bottom: 5%;
	overflow: hidden;
}
#dagonline{
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
}
/*==========================================
MENU CUSTOMIZE
==========================================*/
.navbar-inverse .navbar-nav>.open>a.dropdown-toggle,.navbar-inverse .navbar-nav>.open>a.dropdown-toggle:focus,.navbar-inverse .navbar-nav>.open>a.dropdown-toggle:hover,.dropdown:hover .dropdown-toggle{
	background-color: transparent;
	background-image: url("../img/arrows.svg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 1em;
}
.dropdown:hover .dropdown-menu{
	display : block;
}

.dropdown-menu{
	overflow: hidden;
	background-color: #f4fff3;
	width: 100%;
	padding-right: 20px;
	border-color: #f4fff3;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown-menu h3{
	text-align: left;
	font-size: 150%;
	padding: 0px;
	margin: 0px;
	color: #e3e3e3!important;
}
.dropdown{
	position: static !important;
}
.dropdown hr{
	margin: 0;
	margin-right: -15px;
}
.dropdown-menu li{
	list-style: none;
}
.dropdown-menu a{
	color: #555555 !important;
	-webkit-transition: padding-left 0.5s;
	-moz-transition: padding-left 0.5s;
	-ms-transition: padding-left 0.5s;
	-o-transition: padding-left 0.5s;
	transition: padding-left 0.5s;
}
.dropdown-menu a:hover{
	padding-left: 5px;
}
.dropdown-menu img{
    width: 75px;
    margin: auto;
}

.dropdown-ul{
	padding: 20px;
	column-width: 221px;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}
.dropdown-ul ul{
	padding-left: 20px;
}
.dropdown-ul > li > a.title{
	font-size: 1.1em;
	color: #0b6a49 !important;
}
.more a{
	color: #ffc93e !important;
}
.navbar-collapse{
	position: relative;
}
.navbar{
	border-color: transparent;
	background: -webkit-linear-gradient(left,#1DA76E, #1fd28d, #1DA76E); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left,#1DA76E, #1fd28d, #1DA76E); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left,#1DA76E, #1fd28d, #1DA76E); /* For Firefox 3.6 to 15 */
	background: linear-gradient(left,#1DA76E, #1fd28d, #1DA76E); /* Standard syntax */
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
/*==========================================
FIN MENU CUSTOMIZE
==========================================*/

.affix {
	top: 0;
	width: 100%;
}
.affix + .container-fluid {
	padding-top: 70px;
}
/*==========================================
LOGO
==========================================*/
.navbar-brand{
	position: relative;
	top:-45px;
	z-index: 999;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}
.affix .navbar-brand {
	top : -15px;
	left: 15px;
}
.affix .navbar-brand > img{
	width: 60px;
}
.navbar-brand > img {
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
	width: 125px;
}
.navbar-brand > img:hover{
    cursor: pointer;
	-webkit-transform:scale(0.9);
	-moz-transform:scale(0.9);
	-ms-transform:scale(0.9);
	-o-transform:scale(0.9);
	transform:scale(0.9);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3) !important;
}
.affix .navbar-brand > img:hover{
	width: 60px;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3) !important;
}
/*==========================================
FIN LOGO
==========================================*/
.jumbotron{
	background-color: #101010;
	background-image: url(../img/logo1.png);
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.jumbotron > * {
	z-index: 2;
	position:relative;
}
.jumbotron > .carousel{
	position:absolute;
	top : 0;
	z-index: 1;
	width: 100vw;
	height: 100%;
}
.jumbotron-text{
    background-color: rgba(0,0,0,0.5);
    background: -webkit-linear-gradient(left,transparent, rgba(0,0,0,0.1),rgba(0,0,0,0.5),rgba(0,0,0,0.1), transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,transparent, rgba(0,0,0,0.1),rgba(0,0,0,0.5),rgba(0,0,0,0.1), transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,transparent, rgba(0,0,0,0.1),rgba(0,0,0,0.5),rgba(0,0,0,0.1), transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left,transparent, rgba(0,0,0,0.1),rgba(0,0,0,0.5),rgba(0,0,0,0.1), transparent); /* Standard syntax */
		width: 80%;
		margin: auto;
}
#SlidePrincipal .item img{
	margin: auto;
}
/* MENU RAPIDE	*/
.menu-rapide{
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	right: -80px;
	z-index: 99998;
    font-size: 25px;
	background-color: #1DA76E;
	padding-right: 15px;
    padding-left: 5px;
	color: #fff !important;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
}
.menu-rapide .btn{
	border-radius: 50% !important;
    font-size: 1.25em !important;
	margin-bottom: 10px;
	margin-top: 10px;
	background: rgba(255, 255, 255,0.1);
	color: #fff !important;
	-webkit-transition: background 0.5s, color 0.2s;
	-moz-transition: background 0.5s, color 0.2s;
	transition: background 0.5s, color 0.2s;
	cursor: pointer;
}
.menu-rapide .btn:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.menu-rapide .btn:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

.menu-rapide:hover{
	right:0%;
	background-color: rgba(29, 167, 110, 0.75);
	transition: 0.3s;
}
.menu-rapide .btn:hover {
	background: #fff;
}
.menu-rapide .btn:hover .fa, .menu-rapide .btn:hover svg{
	color: #1DA76E;
}
.menu-rapide .btn:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
/* FIN MENU RAPIDE	*/

.main-article .text-white{
	background-color: #1DA76E;
	height: 320px;
}
h2.indie-flower{
	border-left: solid #1DA76E 3px;
	padding-left: 10px;
	text-transform: uppercase;
}

ul.thumbnails {
	margin-bottom: 0px;
}

.btn, a.btn, button.btn, input[type='submit'].btn{
	outline: none;
	text-align: center;
	font-family: "Helvetica", Arial;
	border-radius: 2px;
	transition: all .5s;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.btn:focus, a.btn:focus, button.btn:focus, input[type='submit'].btn:focus{
	-webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 2px 10px 0 rgba(0,0,0,0.12), 0 6px 2px -4px rgba(0,0,0,0.2);
}
a.btn-flat, button.btn-flat, input[type='submit'].btn-flat{
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}
.flat-btn{
	width: 100%;
	background-color: #31708f;
	color: #fff;
}
a.flat-btn:hover, button.flat-btn:hover, input[type='submit'].flat-btn:hover{
	background-color: #3e8db4;
	color: #fff;
	border: 1px solid #3e8db4;
}
a.flat-btn, button.flat-btn, input[type='submit'].flat-btn{
	padding: 8px 16px;
	border: 1px solid #31708f;
}
a.btn-outline, button.btn-outline, input[type='submit'].btn-outline{
    background-color: #fff;
	color: #31708f;
	border: 1px solid #fff;
}
a.btn-outline:hover, button.btn-outline:hover, input[type='submit'].btn-outline:hover{
	background-color: #eee;
	color: #31708f;
	border: 1px solid #eee;
}
.flat-btn > * {
	border-color: transparent;
	box-shadow: none;
}
.flat-btn .input-group-addon,.flat-btn .input-group-btn{
	background-color: #fff;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.card a{
	width:100%;
}

@media screen and (max-width: 900px){
    .navbar-nav li{
        text-align: center;
    }
    .navbar-brand {
        top: -30px;
    }
    .navbar-brand img{
        width: 90px;
    }
}

/* MODAL STYLE */
.modal {
	text-align: center;
	padding: 0!important;
}
.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
.modal-body{
	border-top:solid #1fd28d;
}
.modal-content{
	border-radius: 3px;
}
.modal-body img{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.modal div.pull-right{
	background-color: #fff;
	padding: 15px;
	border-radius: 3px;
}
.modal .close{
	margin-right: 15px;
	color: #1fd28d;
	opacity: 0.7;
}
/* Fin MODAL STYLE */

@-webkit-keyframes notification {
	0% {
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
		opacity: 0;
	}

	25% {
		-webkit-transform: scale3d(.1, .1, .1);
		transform: scale3d(.1, .1, .1);
		opacity: .1;
	}
	50% {
		-webkit-transform: scale3d(.5, .5, .5);
		transform: scale3d(.5, .5, .5);
		opacity: .3;
	}

	75% {
		-webkit-transform: scale3d(.7, .7, .7);
		transform: scale3d(.7, .7, .7);
		opacity: .5;
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity: 0;
	}
}

@keyframes notification {
	0% {
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
		opacity: 0;
	}

	25% {
		-webkit-transform: scale3d(.1, .1, .1);
		transform: scale3d(.1, .1, .1);
		opacity: .1;
	}
	50% {
		-webkit-transform: scale3d(.5, .5, .5);
		transform: scale3d(.5, .5, .5);
		opacity: .3;
	}

	75% {
		-webkit-transform: scale3d(.7, .7, .7);
		transform: scale3d(.7, .7, .7);
		opacity: .5;
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity: 0;
	}
}

.notification {
	position: relative;
}
.notification:before{
	animation-name: notification;
	-webkit-animation-name: notification;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;

	content: '';
	position: absolute;
	border-radius: 50%;
	border: 2.5px solid #1BBE81;
	height: 1em;
	width: 1em;
	left:-75%;
	top: -10%;
}

.zoom:after {
	position:absolute;
	content: '';
	top:40%;
	left: 40%;
	background-image: url("../img/magnifier.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 15%;
	height: 25%;
	opacity: 0;
}
a:hover .zoom > *, a.zoom:hover > *{
	opacity: 0.25;
}
a:hover .zoom:after, a.zoom:hover:after{
	opacity: 1;
}

/*FORMULAIRE RECHERCHE
Background image Designed by macrovector / Freepik
*/
.formulaire{
	background: url("../img/bg-form.png") fixed #e7e5db;
	background-repeat: repeat-y;
	background-size: 100%;
	padding: 20px 0;
	top: -15px;
	z-index: 3;
	position: relative;
}
.formulaire form{
	margin: auto;
	text-align: center;
}
.formulaire form > *{
	margin-left: 20px;
	margin-right: 20px;
}
.formulaire form .form-control{
	border-radius: 0;
	margin-left: 20px;
	margin-right: 20px;
}
.formulaire div.row > div{
	margin-top: 10px;
	margin-bottom: 10px;
}
.formulaire .radio-inline{
	margin: 5px 0;
	padding: 0;
}
.formulaire .radio-inline span{
	padding: 2px 20px;
	background-color: #cdccc9;
	margin-right: 10px;
}
.formulaire .radio-inline [type=radio]{
	opacity: 0;
}
.formulaire .radio-inline:hover span{
	background-color: #b4b3b1;
}
.formulaire .radio-inline [type=radio]:checked + span{
	background-color: #136e49;
	color: #FFFFFF;
}
/*FIN FORMULAIRE RECHERCHE*/

/* CAROUSEL IMAGE INDICATOR*/

.carousel-produit{
	margin: 20px auto;
	width: 100%;
}
.carousel-produit .carousel-indicators {
	margin: 10px 0 0;
	overflow: auto;
	position: static;
	width: 100%;
}
.carousel-produit .carousel-indicators li {
	background-color: transparent;
	-webkit-border-radius: 0;
	border-radius: 0;
	display: inline-block;
	height: auto;
	margin: 0 !important;
	width: 33%;
}
.carousel-produit .carousel-indicators li img {
	display: block;
}
.carousel-produit .carousel-outer {
	position: relative;
}

.carousel-produit .carousel-inner .item img{
	margin: auto;
}
.carousel-produit .carousel-indicators li.active a{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* FIN CAROUSEL IMAGE INDICATOR*/

/* breadcrumbs */

.breadcrumbs {
    margin-top: 47px;
    margin-bottom: 17px;
    margin-left: 0;
    border: none;
    background: none;
    display: block;
    padding: 0.5625rem 0.875rem 0.5625rem;
    overflow: hidden;
    list-style: none;
}

.breadcrumbs a {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    line-height: 1.63;
    color: #54667a;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
}

.breadcrumbs .actuel {
    font-weight: bold;
}

/* fin breadcrumbs */