#body{
    padding: 0;
    overflow: hidden;
}
.entreprise-row{
	position: relative;
	padding: 0;
	height: 100%;
}
.entreprise-row .tab > .tab-content{
    background-color: rgba(251, 251, 251, 0.7);
    position: relative;
    overflow: auto;
		font-size: 1.5em;
		min-width: calc(100% - 65px);
		max-width: calc(100% - 65px);
}
.entreprise-row .tab > .tab-content p{
    margin-left: 40px;
    margin-right: 40px;
}
.entreprise-row .tab > .tab-content .modal p{
    margin: 0;
	font-size: .75em;
}
.entreprise-row > div {
	padding: 0;
}
.entreprise-row .tab {
	display: flex;
	overflow: hidden;
}
.entreprise-row .tab > .nav-content, .entreprise-row .tab > .nav-content ul.nav{
	min-width: 65px;
	max-width: 65px;
	-webkit-transition: min-width 0.5s, max-width 0.5s;
	-moz-transition: min-width 0.5s, max-width 0.5s;
	-ms-transition: min-width 0.5s, max-width 0.5s;
	-o-transition: min-width 0.5s, max-width 0.5s;
	transition: min-width 0.5s, max-width 0.5s;
}
.entreprise-row .tab > .tab-content{
	min-width: calc(100% - 65px);
	max-width: calc(100% - 65px);
}
.entreprise-row .tab > .nav-content span{
	font-size: 0;
	opacity: 0;
	-webkit-transition: font-size 0.2s ease-out 0.1s, opacity 0.2s linear 0.1s;
	-moz-transition: font-size 0.2s ease-out 0.1s, opacity 0.2s linear 0.1s ;
	-ms-transition: font-size 0.2s ease-out 0.1s, opacity 0.2s linear 0.1s ;
	-o-transition: font-size 0.2s ease-out 0.1s, opacity 0.2s linear 0.1s ;
	transition: font-size 0.2s ease-out 0.1s, opacity 0.2s linear 0.1s ;
}
.entreprise-row .tab > .nav-content:hover, .entreprise-row .tab > .nav-content:hover ul.nav{
	min-width: 250px;
	max-width: 250px;
}
.entreprise-row .tab > .nav-content:hover span{
	font-size: 1em;
	opacity: 1;
}
/*.entreprise-row .tab > .nav-content:hover + .tab-content{*/
	/*min-width: calc(100% - 250px);*/
	/*max-width: calc(100% - 250px);*/
/*}*/
.entreprise-row .tab-content h3{
	text-transform: uppercase;
	font-size: 5em;
}
.entreprise-row .tab-content h4.indie-flower{
	font-size: 2em;
}
.entreprise-row .nav-pills > li > a{
	background-color: rgba(154, 154, 154, 0.7);
	color:#fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	border-radius: 0;
}
.entreprise-row .nav-stacked > li > a{
	font-size: 2em;
}
.entreprise-row .nav-pills > li > a:hover,
.entreprise-row .nav-pills > li > a:active,
.entreprise-row .nav-pills > li > a:focus,
.entreprise-row .nav-pills > li > a:visited,
.entreprise-row .nav-pills > li.active > a{
    color: #be1a27;
    -ms-transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    background-color: rgba(251, 251, 251, 0.7)
}
.entreprise-row .nav-pills > li > a > .svg-inline--fa{
    content: "";
		color: #fff;
    position: absolute;
    right: 10px;
    top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
}
.entreprise-row .nav-pills > li > a:hover > .svg-inline--fa,
.entreprise-row .nav-pills > li > a:focus > .svg-inline--fa,
.entreprise-row .nav-pills > li > a:active > .svg-inline--fa,
.entreprise-row .nav-pills > li > a:visited > .svg-inline--fa,
.entreprise-row .nav-pills > li.active > a > .svg-inline--fa{
	color: #be1a27;
}

/* SLIDE HOME */

#home-entreprise-slide{
  width: 100%;
  height: 50%;
  max-height: 50%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
#home-entreprise-slide .carousel-inner{
  max-height: 300px;
  max-width: 1440px;
}
.entreprise-detail-slide{
    position: relative;
    padding: 0;
}
.entreprise-detail{
  position: absolute;
  top:0;
	right: 0;
  background-color: rgba(51, 51, 51, 0.5);
  width: 30%;
  height: 100%;
	word-wrap: break-word;
	word-break: keep-all;
	min-height: 375px;
	padding: 20px;
}
.entreprise-detail h5{
	font-size: 1.5em;
	font-weight: 300;
	text-transform: uppercase;    
	font-family: 'Oswald', sans-serif;
}
.entreprise-detail span{
	color: #31708f !important;
}
.price-not{
	color: #a2a2a2 !important;
	text-decoration: line-through;
	font-size: 1.2em !important;
}.price{
	 font-weight: 900 !important;
	font-size: 1.3em !important;
}

.menu-produit{
	background-color: rgba(51, 51, 51, 0.3);
	margin: auto;
}
.filters{
	margin-top: 10px;
}
.entreprise-row .menu-produit .nav-pills > li > a{
	background-color: transparent;
}

.product-isotope .for-detail{
	background-color: #31708f;
	margin: auto;
	margin-top: 5px;
	color: #fff;
}
.product-isotope .for-detail h5{
	margin: 0;
	margin-top: 5px;
}
.badge-price{
	background-color: #fff;
	color: #31708f;
}
/* ISOTOPE */

.unite {
	width: 200px;
	height: 190px;
	margin: 20px;
	float: left;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	text-align: center;
}