#body{
    padding: 0;
    overflow: hidden;
}
.restaurant-row, .hotel-row{
    position: relative;
}
.restaurant-row > .tab, .hotel-row > .tab{
    position: absolute;
    overflow: hidden;
}
.restaurant-row .tab-content,
.hotel-row .tab-content{
    background-color: rgba(0, 0, 0, 0.5);
    border-left: solid #ffebc2 2px;
    position: relative;
}
.restaurant-row .tab-content, .hotel-row .tab-content{
    border: solid #ffebc2 2px;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.5);
    height: calc(100% - 20px);
    overflow: auto;
}
 .hotel-row .img img,
 .restaurant-row .img img{
    width: 99vw;
    height: 100%;
}
.hotel-row .img:after ,
.restaurant-row .img:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
}
.restaurant-row > div,
.hotel-row > div{
    padding: 0;
    height: 100%;
}
/* FIN STICKY SIDE BAR*/
.restaurant-row .nav-pills > li > a:hover,
.restaurant-row .nav-pills > li > a:active,
.restaurant-row .nav-pills > li > a:focus,
.restaurant-row .nav-pills > li > a:visited,
.restaurant-row .nav-pills > li.active > a,
.hotel-row .nav-pills > li > a:hover,
.hotel-row .nav-pills > li > a:active,
.hotel-row .nav-pills > li > a:focus,
.hotel-row .nav-pills > li > a:visited,
.hotel-row .nav-pills > li.active > a{
    color: #ffebc2;;
    -ms-transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    background-color: rgba(0, 0, 0, 0.5);
}
.hotel-row .nav-pills > li > a:before,
.restaurant-row .nav-pills > li > a:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 100%;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.restaurant-row .nav-pills > li > a,
.hotel-row .nav-pills > li > a{
    border-radius: 0;
    font-weight: 900;
}
.restaurant-row .nav-pills > li > a:hover:before,
.restaurant-row .nav-pills > li > a:focus:before,
.restaurant-row .nav-pills > li > a:active:before,
.restaurant-row .nav-pills > li > a:visited:before,
.restaurant-row .nav-pills > li.active > a:before,
.hotel-row .nav-pills > li > a:hover:before,
.hotel-row .nav-pills > li > a:focus:before,
.hotel-row .nav-pills > li > a:active:before,
.hotel-row .nav-pills > li > a:visited:before,
.hotel-row .nav-pills > li.active > a:before
{
	left:0;
	right:0;
	background-image:url("../img/arrows-right.svg");
    background-size: 1em;
	background-position:90%;
	background-repeat:no-repeat;
}
.restaurant-row .tab-content h3,
.hotel-row .tab-content h3{
    text-transform: uppercase;
    font-size: 6em;
}
.restaurant-row .tab-content h4,
.hotel-row .tab-content h4{
    font-size: 3em;
}
.restaurant-row .tab-content p,
.hotel-row .tab-content p{
    font-size: 1.5em;
}
.restaurant-row .nav-pills a,
.hotel-row .nav-pills a{
    font-size: 1.5em;
}
/*SLIDE VIGNETTE*/
#SlideVignette .carousel-control{
    width: 7.5%;
}
.vignette{
    position: relative;
    padding: 0;
    cursor: pointer;
}
.vignette:hover .vignette-detail{
    padding: 3em;
    opacity: 1;
}
.vignette-detail{
    position: absolute;
    top:0;
    opacity: 0;
    color: #ffebc2;
    background-color: rgba(51, 51, 51, 0.7);
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition:all 0.4s ease-out;
    -moz-transition:all 0.4s ease-out;
    -ms-transition:all 0.4s ease-out;
    -o-transition:all 0.4s ease-out;
    transition:all 0.4s ease-out;
}
.vignette-detail:before {
    position: absolute;
    top: 50%;
    right: 20%;
    bottom: 50%;
    left: 20%;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.vignette:hover .vignette-detail:before{
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    left: 15%;
    right: 15%;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.vignette-detail a.more{
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-family: serif;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}

.vignette-detail a.more:hover {
    box-shadow: 0 0 5px #000
}

.vignette-detail p {
  font-family: serif;
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center
}

.vignette-detail h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 1.5em;
  font-family: "Courier New", serif;
  padding: 10px;
  /*background: rgba(0, 0, 0, 0.8);*/
  margin: 20px 0 0 0;
  text-transform: uppercase;
  opacity:0;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.vignette:hover .vignette-detail h3{
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
/* FIN SLIDE VIGNETTE */

/*VIGNETTE DETAIL MODALS*/
.modal {
    text-align: center;
    padding: 0!important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-body{
    border-top:solid #DF1D28;
}
.modal-content{
    border-radius: 3px;
}
.modal-body img{
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
}
.modal div.pull-right{
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
}
.modal .close{
    margin-right: 15px;
    color: #DF1D28;
    opacity: 0.7;
}

.carousel-produit{
	margin: 20px auto;
	width: 100%;
}
.carousel-produit .carousel-indicators {
	margin: 10px 0 0;
	overflow: auto;
	position: static;
	width: 100%;
}
.carousel-produit .carousel-indicators li {
	background-color: transparent;
	-webkit-border-radius: 0;
	border-radius: 0;
	display: inline-block;
	height: auto;
	margin: 0 !important;
	width: 33%;
}
.carousel-produit .carousel-indicators li img {
	display: block;
}
.carousel-produit .carousel-outer {
	position: relative;
}

.carousel-produit .carousel-inner .item img{
	margin: auto;
}
.carousel-produit .carousel-indicators li.active a{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
		
/*FIN VIGNETTE DETAIL MODALS*/

/* NOS MENUS CUSTOM */
#menu .pager li a{
    background-color: #333;
    border: none;
    border-radius: 2px;
    padding: 10px !important;
}
#menu .pager li a:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: scale(1.01);
}
/* FIN NOS MENUS CUSTOM */

.vignette-detail a
{
    display:block;
    color: #fff;
}

.vignette-detail ul
{
    list-style-type: none;
    text-align: justify !important;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { 
	z-index: 99999;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}